.jumbotron vertical-center {
    max-height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
}

.jumbotron>p {
    text-align: center;
    font-size: 20px;
}

#header {
    padding-bottom: 50px;
}